html {
    background-color: #EFF1DB;
}
header {
    display: grid;
    grid-template-areas: "icons logo links";
}
.navLogo {
    border: 0.5px #EFF1DB solid;
    border-radius: 50%;
    grid-area: logo;
}
.navLinks {
    grid-area: links;
}
.icons {
    grid-area: icons;
}
