@import url('https://fonts.googleapis.com/css2?family=Zain:wght@200;300;400;700;800;900&display=swap');

body {
    background-color: #F8CF2C;
}
header {
    background-color: #04445C;
    display: flex;
    justify-content: center;
}
.header {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
}

.navLogo {
    height: 100px;
    border: 1px solid #04445C;
    border-radius: 50%;
    justify-self: center;
}
.navList {
    min-width: 280px;
    margin-top: 5%;
}
.navLinks {
    color: #E3DDD1;
    font-family: "Zain", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    font-size: 26px;
}
.navLinks:hover {
    color: #b0aba2;
    transition-duration: 250ms;
    text-shadow: 4px 2px #7d7973;
}
.social {
    display: flex;
    justify-content: space-around;
    margin-top: 8%;
    min-width: 260px;
}
.icons {
    font-size: 35px;
    color: #E3DDD1;
}
.icons#instagram:hover {
    background-image: linear-gradient(240deg, #b00af0, #f32853, #ffb800);
    background-size: 100%;
    background-clip: text;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    color: transparent;
    transition-duration: 250ms;
}
.icons#youtube:hover {
    color: #f60002;
    transition-duration: 250ms;

}
.icons#linkedin:hover {
    color: #2864aa;
    transition-duration: 250ms;
}


@media only screen and (orientation: portrait) {
    .navLogo {
        height: 160px;
    }
    .icons {
        font-size: 50px;
    }
    .navLinks {
        font-size: 35px;
    }
}